{% extends "admin/layout_admin.html" %} {% block sidenav %}
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/login/admin">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-laptop text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login/data_admin">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-folder-17 text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Data</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login/penugasan_admin">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-ruler-pencil text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Penugasan</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/login/data_user">
      <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
      </div>
      <span class="nav-link-text ms-1">Users</span>
    </a>
  </li>
</ul>
{% endblock %}

<main class="main-content position-relative border-radius-lg">
  {% block navbar %}
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false" >
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm">
            <a class="opacity-5 text-white" href="/login/index_user">Dashboard</a>
          </li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page" >
            Data
          </li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Data Peserta Magang</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Cari..." />
          </div>
        </div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="/logout" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  {% endblock %} {% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div>
          <a href="{{ url_for('form_tambah_user') }}" class="button-tambah btn btn-primary">
            Tambah User
          </a>
        </div>
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Daftar User</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              {% if dataUser %}
              <table class="table datatable align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      No
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Nama
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Username
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Password
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in semua_data %}
                  <tr>
                    <td class="text-center text-xs row-number">{{ loop.index }}</td>
                    <td class="mb-0 text-sm">{{ row.nama }}</td>
                    <td class="text-center text-xs">{{ row.username }}</td>
                    <td class="text-center text-xs">
                      {% if row.username == 'admin' %}
                        ********
                      {% else %}
                        {{ row.password }}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>Data tidak ditemukan.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
