{% extends "admin/layout_admin.html" %} 

{% block sidenav %}
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link " href="/login/admin">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-laptop text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Dashboard</span>
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link " href="/login/data_admin">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-calendar-grid-58 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Data</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/login/penugasan_admin">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-ruler-pencil text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Penugasan</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/login/data_user">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Users</span>
      </a>
    </li>
  </ul>
{% endblock %}

<main class="main-content position-relative border-radius-lg" >
  {% block navbar %}
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="/login/index_admin">Dashboard</a></li>
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="/login/data_admin">Data</a></li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page">Tambah Data</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Tambah Data</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Cari...">
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="/logout" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  {% endblock %}
  {% block content %}
  <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <div class="container mt-4">
                <h4>Tambah Data Peserta Magang</h4>

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <form action="{{ url_for('tambah_peserta') }}" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label class="form-label">Nama</label>
                    <input type="text" name="nama" class="form-control" required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Asal</label>
                    <input type="text" name="asal" class="form-control" required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Jurusan</label>
                    <input type="text" id="jurusan" name="jurusan" class="form-control" required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Tanggal Masuk</label>
                    <input type="date" name="tgl_masuk" class="form-control" required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Tanggal Keluar</label>
                    <input type="date" name="tgl_keluar" class="form-control" required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Penempatan</label>
                    <select name="bidang" class="form-control">
                      <option value="">-- Pilih Penempatan --</option>
                      <option value="Sekretariat">Sekretariat</option>
                      <option value="Bidang 1">Bidang 1</option>
                      <option value="Bidang 2">Bidang 2</option>
                      <option value="Bidang 3">Bidang 3</option>
                      <option value="Bidang 4">Bidang 4</option>
                      <option value="Bidang 5">Bidang 5</option>
                    </select>
                    <p id="rekomendasiText" style="font-style: bold; color: #F9A825; margin-top: 5px;"></p>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Upload Foto</label>
                    <input type="file" name="profil" class="form-control">
                  </div>

                  <button type="submit" class="btn btn-primary">Simpan</button>
                  <a href="{{ url_for('dataAdmin') }}" class="btn btn-secondary">Kembali</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</main>
