{% extends "admin/layout_admin.html" %} 

{% block sidenav %}
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/login/admin">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-laptop text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/data_admin">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-folder-17 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Data</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/login/penugasan_admin">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-ruler-pencil text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Penugasan</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/login/data_user">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
        </div>
        <span class="nav-link-text ms-1">Users</span>
      </a>
    </li>
  </ul>
{% endblock %}

  <main class="main-content position-relative border-radius-lg ">
    {% block navbar %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="/login/index_admin">Dashboard</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Penugasan</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Report Hasil Penugasan Peserta</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Cari...">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="/logout" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    {% endblock %}
    <div class="container-fluid py-4">
      {% block content %}
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Progres Tugas Peserta Magang</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table datatable align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center">No</th>
                      <th class="text-center">Nama</th>
                      <th class="text-center">Bidang</th>
                      <th class="text-center">Tugas Dikerjakan</th>
                      <th class="text-center">Total Hari</th>
                      <th class="text-center">Progres</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data_progres %}
                    <tr>
                      <td class="text-center">{{ loop.index }}</td>
                      <td class="text-lg">{{ row.nama }}</td>
                      <td class="text-center">{{ row.bidang }}</td>
                      <td class="text-center">{{ row.total_tugas }}</td>
                      <td class="text-center">{{ row.total_hari }}</td>
                      <td class="text-center">
                        <div class="progress" style="height: 20px;">
                          <div class="progress-bar 
                                      {% if row.persentase < 50 %}
                                        bg-danger
                                      {% else %}
                                        bg-success
                                      {% endif %}" 
                              role="progressbar"
                              style="width: {{ row.persentase }}%;"
                              aria-valuenow="{{ row.persentase }}" aria-valuemin="0" aria-valuemax="100">
                            {{ row.persentase }}%
                          </div>
                        </div>

                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Hasil Penugasan Peserta Magang</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <!-- Pilih Tanggal -->
              <div class="mb-3">
                <form method="get" action="{{ url_for('penugasan_admin') }}">
                  <label for="tanggal">Pilih Tanggal:</label>
                  <input class="input-date" type="date" id="tanggal" name="tanggal" value="{{ tanggal or '' }}" onchange="this.form.submit()" required>
                </form>

              </div>

              <!-- Tabel Penugasan -->
              <div class="table-responsive p-0">
                <table class="table datatable align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center">No</th>
                      <th class="text-center">Nama</th>
                      <th class="text-center">Bidang</th>
                      <th class="text-center">SS 1</th>
                      <th class="text-center">SS 2</th>
                      <th class="text-center">SS 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data %}
                    <tr>
                      <td class="text-center">{{ loop.index }}</td>
                      <td class="text-lg">{{ row.nama }}</td>
                      <td class="text-center">{{ row.bidang }}</td>

                      {% for i in range(1,4) %}
                        <td class="text-center">
                          {% set flag = row['img' ~ i] %}
                          {% if flag %}
                            <a href="{{ url_for('img', id_tugas=row.id_tugas, ke=i) }}" target="_blank">
                              <img src="{{ url_for('img', id_tugas=row.id_tugas, ke=i) }}" width="90" alt="Screenshot {{ i }}">
                            </a>
                          {% else %}
                            &mdash;
                          {% endif %}
                        </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Peserta Magang belum mengumpulkan penugasan tanggal {{ tanggal }}</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table datatable align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nama</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Bidang</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data_belum_ada_tugas %}
                    <tr>
                      <td class="text-center">{{ loop.index }}</td>
                      <td class="text-lg">{{ row.nama }}</td>
                      <td class="text-center">{{ row.bidang }}</td>
                    </tr>
                    {% else %}
                      <tr><td colspan="3" style="text-align:center;">Semua peserta sudah ada tugas</td></tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% endblock %}
    </div>
  </main>